// COLORS 
$color_gray: rgba(141, 141, 146, 1);
$color_background: rgba(8, 8, 10, 1);
$color_blue: rgba(59, 130, 246, 1);
$color_green: rgba(44, 209, 89, 1);
$color_dark_gray: rgba(44, 44, 46, 1);
$color_white: rgba(255, 255, 255, 1);
$color_gray-middle: rgba(28, 28, 30, 1);

// MEDIA
$Phone: 450px;

// FONTS
@font-face {
    font-family: "SF";
    src: url("/font/SF-Pro.ttf");
}
